@model IEnumerable<StockClient.Models.UserTrade>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Open Trades";
    string loggedInUser = Context.Session.GetString("LoggedInUser");
}

<h1>Open Trades for @loggedInUser</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TradeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Units)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeOpenDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TradeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeOpenDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="CloseTrade" asp-route-tradeId="@item.TradeId">Close Trade</a>
            </td>
        </tr>
        }
    </tbody>
</table>
